#navlist{
    width:1000px;
    height:38px;
    margin: 25px auto;
}
#navlist li{
    float:left;
    height:38px;
    line-height:38px;
    position: relative;
}

.navlist_blue{
    background-color:#A51C21;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#FFF;
    width:310px;
    height:38px;
}
#navlist .navlist_blue_arrow{
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 20px solid #A51C21;
    border-bottom: 19px solid transparent;
}

.navlist_gray{
    background-color:#ddd;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    width:325px;
}

#navlist .navlist_gray_arrow{
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 20px solid #e8e8e8;
    border-bottom: 19px solid transparent;
}
#navlist>ul>li>b{
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 20px solid #f5f5f5;
    border-bottom: 19px solid transparent;
    position:absolute;
    left:0;
}

/*确认订单*/
/*选择收货地址*/
#container{
    width:1000px;
    /*margin: 10px auto;*/
    text-align: left;
}
#container .adress_choice > label{
    font-family:"microsoft yahei";
    font-size:18px;
    font-weight:bold;
    /*border-bottom:1px solid #bbb;*/
    padding-bottom:8px;
    width:1000px;
    color: #333;

}

.user_address{
    color:#808080;
    font-family:SimHei;
    font-style: normal;
    font-size:14px;
    width: 530px;
    height:36px;
    line-height: 36px;
    text-align:center;
    border:1px solid #ddd;

}
#container .adress_choice > a{
    font-family:SimHei;
    font-size:12px;
    color: #333;
    text-decoration: none;
    padding-bottom: 6px;
}
/*确认商品信息*/
/*标题栏*/
#container .product_confirm > p,#container .contact_confirm>p{
    font-family:"microsoft yahei";
    font-size:18px;
    font-weight:bold;
    margin-top:22px;
    border-bottom:1px solid #e8e8e8;
    padding-bottom:6px;
    width:1000px;
    color: #333;
    box-shadow:1px 1px 3px #ccc;
}
#container .contact_confirm .contact_info{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    font-size:15px;
width:300px;
    margin-top:10px;
    margin-left: 40px;
    height: 150px;

}
#container .contact_confirm .contact_info li{
    box-shadow:1px 1px 3px #ccc;
    color:#A51C21;
    padding-bottom: 5px;
    font-size:17px;
}
#container .contact_confirm .contact_info span{
    color: #333;
    font-weight:bold;
}
#container .item_title{
    width:1000px;
    height:32px;
    padding-top:10px;
    font-size: 12px;
    font-weight:bold;
    color:#888;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    margin-bottom:10px;
}
#container .item_title >li{
    height:32px;
    float:left;
    text-align:center;
}
.p_info{width:438px;}
.p_price{width:199px;}
.p_count{width:149px;}
.p_tPrice{width:209px;}

.item_title .p_info,
.item_title .p_price,
.item_title .p_count{
    border-right: 1px solid #e8e8e8;
}
/*详情栏*/
.item_detail .p_info,
.item_detail .p_price,
.item_detail .p_count{
    border-right: 1px solid #f5f5f5;
}
#container .item_detail{
    width:1000px;
    height:112px;
    border:1px solid #fafafa;
    background-color:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container .item_detail >li{
    float:left;
    /*text-align:center;*/
    vertical-align: middle;
    height: 112px;
    overflow: hidden;
}
#container .item_detail >li:not(:first-child){
    text-align:center;
    padding: 41px;
    box-sizing: border-box;
}
#container .item_detail > .p_info{
    width:438px;
    height:112px;
    margin-top:10px;
}
#container .item_detail > .p_info > b{
    padding-left:16px;
    overflow: hidden;
    float:left;
    margin-top:10px;
}
#container .item_detail > .p_info > .product_name{
    width:300px;

}
#container .item_detail > .p_info > .col > span{
    padding-left:16px;
}
#container .item_detail > .p_info > .col .product_color{
    padding-left: 8px;
}
#container .item_detail > .p_info > .col .color_des{
    padding-left: 8px;
}
#container .item_detail > .p_info >  .product_color{
    display: inline-block;
    padding-left: 16px;
}

#container .item_detail > .p_price > i{
    color:#A51C21;
    font-style: normal;
    font-weight: bold;
}
/*结算条*/
#count_bar{
    margin-top:10px;
    margin-bottom:20px;
    width:1000px;
    height:46px;
    background:#e8e8e8;
    position:relative;
    clear:both;
}
#count_bar>span{
    font-size:12px;
    height:46px;
    line-height:46px;
}
#count_bar>span>b{
    font-size:18px;
    font-weight:bold;
    color:#A51C21;
}
#count_bar>button.go_pay {
    display: inline-block;
    position:absolute;
    right:0px;
    cursor:pointer;
    width:140px;
    height:45px;
    line-height:42px;
    background:linear-gradient(to bottom,#A51C21,#7F0000);
    text-align:center;
    font-size:18px;
    color:#fff;
    border-radius:2px;
}

#count_bar>button.go_pay:hover{
    background:#7F0000;

}
#count_bar .go_cart{
    padding: 0 16px;
}
#count_bar .go_cart a{
    text-decoration:none;
    color:#636363;
}
#count_bar .go_cart a:hover{
    text-decoration:none;
    color:#A51C21;
}
#count_bar .count_bar_info {
    position: absolute;
    right: 161px;
}

.product_list >.item_content{
    height:145px;
     border-bottom: 1px solid #ddd;
     line-height: 145px;
}
.product_list >.item_content li{
     float:left;
    
    vertical-align: middle; 
  
    overflow: hidden;
    font-size: 15px;
    line-height: 119px;
}


.product_list >.item_content li+li{
    text-align:center;
    padding: 20px;
    box-sizing: border-box;

}
.product_list >.item_content img{
    width:100px;
    height: 100px;
    padding:20px 50px;
}

